@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.inner {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 1000px) {
  .is-sp {
    display: none;
  }
}

.button {
  width: 220px;
  height: 56px;
  border-radius: 30px;
}

.header {
  background: #ffffff;
  height: 100px;
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  position: fixed;
  width: 100%;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  width: 270px;
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li:not(:first-child) {
  margin-left: 24px;
}

.header__nav li a {
  color: #393939;
  text-decoration: none;
  position: relative;
  font-size: 11px;
}

.header__nav li a.is-active {
  color: #1391e6;
}

.header__nav li a.is-active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #1391e6;
}

.header__home {
  position: relative;
}

.header__home::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -30px;
  left: 5px;
  background: url(../img/top/icon-01.png) center center/contain;
}

.header__about {
  position: relative;
}

.header__about::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -30px;
  left: 20px;
  background: url(../img/top/icon-02.png) center center/contain;
}

.header__information {
  position: relative;
}

.header__information::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -30px;
  left: 10px;
  background: url(../img/top/icon-03.png) center center/contain;
}

.header__staff {
  position: relative;
}

.header__staff::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -30px;
  left: 20px;
  background: url(../img/top/icon-04.png) center center/contain;
}

.header__blog {
  position: relative;
}

.header__blog::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -30px;
  left: 30px;
  background: url(../img/top/icon-05.png) center center/contain;
}

.header__contact {
  position: relative;
}

.header__contact::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -30px;
  left: 20px;
  background: url(../img/top/icon-07.png) center center/contain;
}

@media (max-width: 767px) {
  .header__meta {
    display: none;
  }
}

.header__address {
  font-size: 12px;
  color: #393939;
}

.header__tel {
  font-size: 32px;
  color: #1391e6;
  text-decoration: none;
  position: relative;
}

.header__tel::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  left: -32px;
  background: url(../img/top/icon_tel.png) center center/contain;
}

.header__mb {
  height: 100px;
}

@media (max-width: 767px) {
  .header__mb {
    height: 60px;
  }
}

/*==============================================
hamburger menu
===============================================*/
.hamburger-menu {
  display: none;
}

@media (max-width: 767px) {
  .hamburger-menu {
    display: block;
    position: relative;
    background: #000;
  }
  .hamburger-menu__btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    opacity: 1;
  }
  .hamburger-menu__btn span,
  .hamburger-menu__btn span:before,
  .hamburger-menu__btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #1391e6;
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .hamburger-menu__btn span:before {
    bottom: 8px;
  }
  .hamburger-menu__btn span:after {
    top: 8px;
  }
  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
  }
  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #ffffff;
  }
  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #ffffff;
  }
  #hamburger-menu__btn {
    display: none;
  }
  .hamburger-menu__title {
    padding: 16px 20px;
  }
  .hamburger-menu__title img {
    width: 270px;
  }
  .hamburger-menu__content ul {
    padding: 54px 30px 0;
  }
  .hamburger-menu__content ul li {
    border-bottom: dotted 2px #ffffff;
  }
  .hamburger-menu__content ul li:first-child {
    border-top: dotted 2px #ffffff;
  }
  .hamburger-menu__content ul li a {
    display: block;
    width: 100%;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 0 15px 38px;
    position: relative;
    height: 56px;
  }
  .hamburger-menu__content ul li a::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 0;
  }
  .hamburger-menu__content ul li a::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 20px;
    right: 11px;
    background: url(../img/menu-icon/icon-right.png) center center/contain;
  }
  .hamburger-menu__content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #0060a0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /*アニメーション設定*/
  }
  #hamburger-menu__btn:checked ~ .hamburger-menu__content {
    left: 0%;
    /*メニューを画面内へ*/
  }
  .hamburger-menu__lists .hamburger-menu__list-1 a::before {
    background: url(../img/menu-icon/icon-01.png) center center/contain;
  }
  .hamburger-menu__lists .hamburger-menu__list-2 a::before {
    background: url(../img/menu-icon/icon-02.png) center center/contain;
  }
  .hamburger-menu__lists .hamburger-menu__list-3 a::before {
    background: url(../img/menu-icon/icon-03.png) center center/contain;
  }
  .hamburger-menu__lists .hamburger-menu__list-4 a::before {
    background: url(../img/menu-icon/icon-04.png) center center/contain;
  }
  .hamburger-menu__lists .hamburger-menu__list-5 a::before {
    background: url(../img/menu-icon/icon-05.png) center center/contain;
  }
  .hamburger-menu__lists .hamburger-menu__list-6 a::before {
    background: url(../img/menu-icon/icon-06.png) center center/contain;
  }
}

/*===========================================================
# web-reserve__button
===========================================================*/
.web-reserve {
  position: relative;
}

.web-reserve__button {
  position: fixed;
  top: 176px;
  right: 0;
  background: #1391e6;
  width: 92px;
  height: 120px;
  color: #ffffff;
  font-weight: bold;
  padding: 30px 17px 0;
  border-radius: 20px 0 0 20px;
}

.web-reserve__button::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 28px;
  top: 21px;
  left: 21px;
  background: url(../img/menu-icon/icon-pc.png) center center/contain;
}

/*===========================================================
# footer
===========================================================*/
.footer {
  background-color: #dff1fd;
  overflow: hidden;
}

.footer__border-top {
  width: 100vw;
  height: 30px;
  background: url(../img/top/wave.png) center center/cover;
}

.footer__main {
  margin-top: 56px;
  padding: 40px 49px;
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  width: 403px;
}

.footer__logo img {
  display: block;
}

.footer__address {
  font-size: 12px;
  color: #393939;
  text-align: center;
}

.footer__tel {
  font-size: 32px;
  color: #1391e6;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.footer__tel::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: 12px;
  left: 90px;
  background: url(../img/menu-icon/icon_tel.png) center center/contain;
}

.footer__time {
  text-align: center;
  color: #1391e6;
  font-size: 12px;
  margin: 0 auto 20px;
}

.footer__buttons {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button__reservation {
  color: #ffffff;
  background: #1391e6;
}

.button__contact {
  color: #1391e6;
  background: #ffffff;
  border: 1px solid #1391e6;
}

.footer__schedule {
  height: 166px;
  width: 477px;
  background: url(../img/top/medicalTimeSheet.png) center center/auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__col {
  display: block;
}

.footer__title {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__title a {
  text-decoration: none;
}

.footer__menu {
  margin-bottom: 20px;
  display: block;
  position: relative;
  margin-left: 1em;
  text-decoration: none;
}

.footer__menu::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  top: 6px;
  left: -12px;
  background: url(../img/menu-icon/icon-arrow-blue.png) center center/cover;
}

.footer__border-bottom {
  width: 100vw;
  height: 42px;
  background: #1391e6;
}

.footer__copyright {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  vertical-align: bottom;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 6px;
}

.footer__specialty {
  width: 250px;
}

.footer__general {
  display: inline-block;
  min-width: 84px;
}

.footer__orthodontics {
  display: inline-block;
  min-width: 84px;
}

.footer__pediatric {
  display: inline-block;
  min-width: 84px;
}

.footer__whitening {
  display: inline-block;
  min-width: 84px;
}

.footer__preventive {
  display: inline-block;
  min-width: 84px;
}

.footer__surgery {
  display: inline-block;
  min-width: 84px;
}

.footer__denture {
  display: inline-block;
  min-width: 84px;
}

.footer__laser {
  display: inline-block;
  min-width: 84px;
}
