@charset "utf-8";

$color-main: #1391e6;
$color-text: #393939;
$color-accent: #ee5a6d;
$color-sub1: #0060a0;
$color-sub2: #dff1fd;
$color-white: #ffffff;

//google font
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap");

$layout-width-inner: 1000px;
//breakpoint
$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})",
) !default;
//media query
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//reset CSS
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  // cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

//common
.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;
}
@include mq("sp") {
  .is-pc {
    display: none;
  }
}
@include mq("pc") {
  .is-sp {
    display: none;
  }
}
.button {
  width: 220px;
  height: 56px;
  border-radius: 30px;
}

//header

.header {
  background: $color-white;
  height: 100px;
  margin: 0 auto;
  box-shadow: 0 3px 6px #00000029;
  position: fixed;
  width: 100%;

  @include mq("sp") {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 270px;

  img {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-top: 30px;

  @include mq("sp") {
    display: none;
  }
  li {
    &:not(:first-child) {
      margin-left: 24px;
    }
    a {
      color: $color-text;
      text-decoration: none;
      position: relative;
      font-size: 11px;

      &.is-active {
        color: $color-main;
        &::after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 100%;
          height: 2px;
          background: $color-main;
        }
      }
    }
  }
}
.header__home {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 5px;
    background: url(../img/top/icon-01.png) center center/contain;
  }
}
.header__about {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 20px;
    background: url(../img/top/icon-02.png) center center/contain;
  }
}
.header__information {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 10px;
    background: url(../img/top/icon-03.png) center center/contain;
  }
}
.header__staff {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 20px;
    background: url(../img/top/icon-04.png) center center/contain;
  }
}
.header__blog {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 30px;
    background: url(../img/top/icon-05.png) center center/contain;
  }
}
.header__contact {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 20px;
    background: url(../img/top/icon-07.png) center center/contain;
  }
}
.header__meta {
  @include mq("sp") {
    display: none;
  }
}
.header__address {
  font-size: 12px;
  color: $color-text;
}
.header__tel {
  font-size: 32px;
  color: $color-main;
  text-decoration: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: 10px;
    left: -32px;
    background: url(../img/top/icon_tel.png) center center/contain;
  }
}
.header__mb {
  height: 100px;
  @include mq("sp") {
    height: 60px;
  }
}

/*==============================================
hamburger menu
===============================================*/
.hamburger-menu {
  display: none;
}

@include mq("sp") {
  .hamburger-menu {
    display: block;
    position: relative;
    background: #000;
  }
  .hamburger-menu__btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    span,
    span:before,
    span:after {
      content: "";
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: $color-main;
      position: absolute;
      transition: all 0.3s;
    }
    span:before {
      bottom: 8px;
    }
    span:after {
      top: 8px;
    }
  }

  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span {
    background-color: rgba(
      255,
      255,
      255,
      0
    ); /*メニューオープン時は真ん中の線を透明にする*/
  }
  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: $color-white;
  }
  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: $color-white;
  }

  #hamburger-menu__btn {
    display: none;
  }

  .hamburger-menu__title {
    padding: 16px 20px;
    img {
      width: 270px;
    }
  }
  .hamburger-menu__content ul {
    padding: 54px 30px 0;
  }
  .hamburger-menu__content ul li {
    &:first-child {
      border-top: dotted 2px #ffffff;
    }
    border-bottom: dotted 2px #ffffff;
  }

  .hamburger-menu__content ul li a {
    display: block;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 0 15px 38px;
    position: relative;
    height: 56px;
  }
  .hamburger-menu__content ul li a::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 0;
  }
  .hamburger-menu__content ul li a::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 20px;
    right: 11px;
    background: url(../img/menu-icon/icon-right.png) center center/contain;
  }

  .hamburger-menu__content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: $color-sub1;
    transition: all 0.3s; /*アニメーション設定*/
  }

  #hamburger-menu__btn:checked ~ .hamburger-menu__content {
    left: 0%; /*メニューを画面内へ*/
  }

  .hamburger-menu__lists {
    .hamburger-menu__list-1 a {
      &::before {
        background: url(../img/menu-icon/icon-01.png) center center/contain;
      }
    }
    .hamburger-menu__list-2 a {
      &::before {
        background: url(../img/menu-icon/icon-02.png) center center/contain;
      }
    }
    .hamburger-menu__list-3 a {
      &::before {
        background: url(../img/menu-icon/icon-03.png) center center/contain;
      }
    }
    .hamburger-menu__list-4 a {
      &::before {
        background: url(../img/menu-icon/icon-04.png) center center/contain;
      }
    }
    .hamburger-menu__list-5 a {
      &::before {
        background: url(../img/menu-icon/icon-05.png) center center/contain;
      }
    }
    .hamburger-menu__list-6 a {
      &::before {
        background: url(../img/menu-icon/icon-06.png) center center/contain;
      }
    }
  }
}

/*===========================================================
# web-reserve__button
===========================================================*/
.web-reserve {
  position: relative;
}
.web-reserve__button {
  position: fixed;
  top: 176px;
  right: 0;

  background: $color-main;
  width: 92px;
  height: 120px;

  color: $color-white;
  font-weight: bold;
  padding: 30px 17px 0;
  border-radius: 20px 0 0 20px;

  &::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 28px;
    top: 21px;
    left: 21px;
    background: url(../img/menu-icon/icon-pc.png) center center/contain;
  }
}
/*===========================================================
# footer
===========================================================*/
.footer {
  background-color: $color-sub2;
  overflow: hidden;
}
.footer__border-top {
  width: 100vw;
  height: 30px;
  background: url(../img/top/wave.png) center center/cover;
}
.footer__inner {
}
.footer__main {
  margin-top: 56px;
  padding: 40px 49px;
  width: 100%;
  background: $color-white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.footer__main--left {
}
.footer__logo {
  width: 403px;
  img {
    display: block;
  }
}
.footer__address {
  font-size: 12px;
  color: $color-text;
  text-align: center;
}
.footer__tel {
  font-size: 32px;
  color: $color-main;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: 12px;
    left: 90px;
    background: url(../img/menu-icon/icon_tel.png) center center/contain;
  }
}
.footer__time {
  text-align: center;
  color: $color-main;
  font-size: 12px;
  margin: 0 auto 20px;
}
.footer__buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.button__reservation {
  color: $color-white;
  background: $color-main;
}
.button__contact {
  color: $color-main;
  background: $color-white;
  border: 1px solid $color-main;
}
.footer__schedule {
  height: 166px;
  width: 477px;
  background: url(../img/top/medicalTimeSheet.png) center center/auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.footer__main--right {
}

.footer__nav {
  display: flex;
  justify-content: space-around;
}
.footer__col {
  display: block;
}
.footer__title {
  font-weight: bold;
  margin-bottom: 20px;
  a{
    text-decoration: none;
  }

}
.footer__menu {
  margin-bottom: 20px;
  display: block;
  position: relative;
  margin-left: 1em;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 12px;
    top: 6px;
    left: -12px;
    background: url(../img/menu-icon/icon-arrow-blue.png) center center/cover;
  }

}
.footer__border-bottom {
  width: 100vw;
  height: 42px;
  background: $color-main;
}
.footer__copyright {
  color: $color-white;
  font-size: 14px;
  text-align: center;
  vertical-align: bottom;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 6px;
}

.footer__top {
}
.footer__about {
}
.footer__introduction {
}
.footer__specialty {
  width: 250px;
}
.footer__contact {
}

.footer__policy {
}
.footer__appearance {
}
.footer__director {
}
.footer__staff {
}
.footer__blog {
}
.footer__general {
  display: inline-block;
  min-width: 84px;
}
.footer__orthodontics {
  display: inline-block;
  min-width: 84px;
}
.footer__pediatric {
  display: inline-block;
  min-width: 84px;
}
.footer__whitening {
  display: inline-block;
  min-width: 84px;
}
.footer__preventive {
  display: inline-block;
  min-width: 84px;
}
.footer__surgery {
  display: inline-block;
  min-width: 84px;
}
.footer__denture {
  display: inline-block;
  min-width: 84px;
}
.footer__laser {
  display: inline-block;
  min-width: 84px;
}
.footer__form {
}
.footer__reservation {
}
