$color-main: #1391E6;
$color-text: #393939;
$color-accent: #EE5A6D;
$color-sub1: #0060A0;
$color-sub2: #DFF1FD;
$color-white: #FFFFFF;

//google font
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');

$layout-width-inner: 1200px;
//breakpoint
$breakpoints: (
  'sp': "(max-width: 767px)", 
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})", 
  'pc': "(min-width: #{$layout-width-inner})"
) !default;
//media query
@mixin mq($breakpoint: sp){
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//reset CSS
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body{
  padding: 0;
  margin: 0;
}
body{
  
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}