@charset "utf-8";

$color-main: #1391e6;
$color-text: #393939;
$color-accent: #ee5a6d;
$color-sub1: #0060a0;
$color-sub2: #dff1fd;
$color-white: #ffffff;

//google font
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap");

$layout-width-inner: 1200px;
//breakpoint
$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})",
  "not_sp": "(min-width: 768px)",
  "not_pc":"(max-width: #{$layout-width-inner - 1px})",
) !default;
//media query
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//reset CSS
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  // cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

//common
.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;
}
@include mq("not_pc") {
  .is-pc {
    display: none;
  }
}
@include mq("not_sp") {
  .is-sp {
    display: none;
  }
}
.button {
  width: 220px;
  height: 56px;
  border-radius: 30px;
}
.button-arrow {
  color: $color-main;
  background: $color-white;
  border: 1px solid $color-main;
  min-width: 176px;
  height: 43px;
  border-radius: 24px;
  position: relative;
  padding: 12px 46px;
  line-height: 1;

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 12px;
    background: url(../img/menu-icon/icon-arrow-blue-btn.png) center
      center/contain;
  }
}

.section__title {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: bold;
  color: $color-text;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 68px;
    height: 18px;
    top: 13px;
    left: -90px;
    background: url(../img/top/title-deco.png) no-repeat center center/contain;
  }
  &::after {
    content: "";
    position: absolute;
    width: 68px;
    height: 18px;
    top: 13px;
    right: -90px;
    background: url(../img/top/title-deco.png) no-repeat center center/contain;
  }
}

//header

.header {
  background: $color-white;
  height: 100px;
  margin: 0 auto;
  box-shadow: 0 3px 6px #00000029;
  position: fixed;
  width: 100%;
  z-index: 100;

  @include mq("sp") {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 270px;

  img {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-top: 30px;

  @include mq("not_pc") {
    display: none;
  }
  li {
    &:not(:first-child) {
      margin-left: 24px;
    }
    a {
      color: $color-text;
      text-decoration: none;
      position: relative;
      font-size: 11px;

      &.is-active {
        color: $color-main;
        &::after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 100%;
          height: 2px;
          background: $color-main;
        }
      }
    }
  }
}
.header__home {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 5px;
    background: url(../img/menu-icon/icon-01-b.png) center center/contain;
    border-color: #0060a0;
  }
}
.header__about {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 20px;
    background: url(../img/menu-icon/icon-02.png) center center/contain;
  }
}
.header__information {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 10px;
    background: url(../img/menu-icon/icon-03.png) center center/contain;
  }
}
.header__staff {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 20px;
    background: url(../img/menu-icon/icon-04.png) center center/contain;
  }
}
.header__blog {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 30px;
    background: url(../img/menu-icon/icon-05.png) center center/contain;
    color: #000;
  }
}
.header__contact {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    left: 20px;
    background: url(../img/menu-icon/icon-06.png) center center/contain;
  }
}
.header__meta {
  @include mq("not_pc") {
    display: none;
  }
}
.header__address {
  font-size: 12px;
  color: $color-text;
}
.header__tel {
  font-size: 32px;
  color: $color-main;
  text-decoration: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: 10px;
    left: -32px;
    background: url(../img/menu-icon/icon_tel.png) center center/contain;
  }
}
.header__mb {
  height: 100px;
  @include mq("sp") {
    height: 60px;
  }
}

/*==============================================
hamburger menu
===============================================*/
.hamburger-menu {
  display: none;
}

@include mq("not_pc") {
  .hamburger-menu {
    display: block;
    position: relative;
    background: #000;
  }
  .hamburger-menu__btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    span,
    span:before,
    span:after {
      content: "";
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: $color-main;
      position: absolute;
      transition: all 0.3s;
    }
    span:before {
      bottom: 8px;
    }
    span:after {
      top: 8px;
    }
  }

  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span {
    background-color: rgba(
      255,
      255,
      255,
      0
    ); /*メニューオープン時は真ん中の線を透明にする*/
  }
  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: $color-white;
  }
  #hamburger-menu__btn:checked ~ .hamburger-menu__btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: $color-white;
  }

  #hamburger-menu__btn {
    display: none;
  }

  .hamburger-menu__title {
    padding: 16px 20px;
    img {
      width: 270px;
    }
  }
  .hamburger-menu__content ul {
    padding: 54px 30px 0;
  }
  .hamburger-menu__content ul li {
    &:first-child {
      border-top: dotted 2px #ffffff;
    }
    border-bottom: dotted 2px #ffffff;
  }

  .hamburger-menu__content ul li a {
    display: block;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 0 15px 38px;
    position: relative;
    height: 56px;
  }
  .hamburger-menu__content ul li a::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 0;
  }
  .hamburger-menu__content ul li a::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 20px;
    right: 11px;
    background: url(../img/menu-icon/icon-right.png) center center/contain;
  }

  .hamburger-menu__content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: $color-sub1;
    transition: all 0.3s; /*アニメーション設定*/
  }

  #hamburger-menu__btn:checked ~ .hamburger-menu__content {
    left: 0%; /*メニューを画面内へ*/
  }

  .hamburger-menu__lists {
    .hamburger-menu__list-1 a {
      &::before {
        background: url(../img/menu-icon/icon-01-w.png) center center/contain;
      }
    }
    .hamburger-menu__list-2 a {
      &::before {
        background: url(../img/menu-icon/icon-02-w.png) center center/contain;
      }
    }
    .hamburger-menu__list-3 a {
      &::before {
        background: url(../img/menu-icon/icon-03-w.png) center center/contain;
      }
    }
    .hamburger-menu__list-4 a {
      &::before {
        background: url(../img/menu-icon/icon-04-w.png) center center/contain;
      }
    }
    .hamburger-menu__list-5 a {
      &::before {
        background: url(../img/menu-icon/icon-05-w.png) center center/contain;
      }
    }
    .hamburger-menu__list-6 a {
      &::before {
        background: url(../img/menu-icon/icon-06-w.png) center center/contain;
      }
    }
  }
}

/*===========================================================
# web-reserve__button
===========================================================*/
.web-reserve {
  position: relative;
  z-index: 10;
}
.web-reserve__button {
  position: fixed;
  top: 176px;
  right: 0;

  background: $color-main;
  width: 92px;
  height: 120px;

  color: $color-white;
  font-weight: bold;
  padding: 30px 17px 0;
  border-radius: 20px 0 0 20px;

  &::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 28px;
    top: 21px;
    left: 21px;
    background: url(../img/menu-icon/icon-pc.png) center center/contain;
  }
}
/*===========================================================
# footer
===========================================================*/
.footer {
  background-color: $color-sub2;
  overflow: hidden;
}
.footer__border-top {
  width: 100vw;
  height: 30px;
  background: url(../img/top/wave.png) center center/cover;
}
.footer__inner {
}
.footer__main {
  margin-top: 56px;
  padding: 40px 49px;
  width: 100%;
  background: $color-white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.footer__main--left {
}
.footer__logo {
  width: 403px;
  img {
    display: block;
  }
}
.footer__address {
  font-size: 12px;
  color: $color-text;
  text-align: center;
}
.footer__tel {
  font-size: 32px;
  color: $color-main;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: 12px;
    left: 90px;
    background: url(../img/menu-icon/icon_tel.png) center center/contain;
  }
}
.footer__time {
  text-align: center;
  color: $color-main;
  font-size: 12px;
  margin: 0 auto 20px;
}
.footer__buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.button__reservation {
  color: $color-white;
  background: $color-main;
}
.button__contact {
  color: $color-main;
  background: $color-white;
  border: 1px solid $color-main;
}
.footer__schedule {
  height: 166px;
  width: 477px;
  background: url(../img/top/medicalTimeSheet.png) center center/auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.footer__main--right {
}

.footer__nav {
  display: flex;
  justify-content: space-around;
}
.footer__col {
  display: block;
}
.footer__title {
  font-weight: bold;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}
.footer__menu {
  margin-bottom: 20px;
  display: block;
  position: relative;
  margin-left: 1em;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 12px;
    top: 6px;
    left: -12px;
    background: url(../img/menu-icon/icon-arrow-blue.png) center center/cover;
  }
}
.footer__border-bottom {
  width: 100vw;
  height: 42px;
  background: $color-main;
}
.footer__copyright {
  color: $color-white;
  font-size: 14px;
  text-align: center;
  vertical-align: bottom;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 6px;
}

.footer__top {
}
.footer__about {
}
.footer__introduction {
}
.footer__specialty {
  width: 250px;
}
.footer__contact {
}

.footer__policy {
}
.footer__appearance {
}
.footer__director {
}
.footer__staff {
}
.footer__blog {
}
.footer__general {
  display: inline-block;
  min-width: 84px;
}
.footer__orthodontics {
  display: inline-block;
  min-width: 84px;
}
.footer__pediatric {
  display: inline-block;
  min-width: 84px;
}
.footer__whitening {
  display: inline-block;
  min-width: 84px;
}
.footer__preventive {
  display: inline-block;
  min-width: 84px;
}
.footer__surgery {
  display: inline-block;
  min-width: 84px;
}
.footer__denture {
  display: inline-block;
  min-width: 84px;
}
.footer__laser {
  display: inline-block;
  min-width: 84px;
}
.footer__form {
}
.footer__reservation {
}

/*===========================================================
# swiper
===========================================================*/
$swiper-slide-width: calc(100vw - 120px);

.swiper {
  margin: 40px 58px 0 62px;
  height: calc(#{$swiper-slide-width}* 520 / 1160);
  width: $swiper-slide-width;
  border-radius: 20px;
  overflow: visible;
}

.swiper-wrapper {
}
.swiper-slide {
  opacity: 0.5;
}
.swiper-slide:nth-child(3n + 1) {
  background: url(../img/top/top-03.png) center center/ cover;
}
.swiper-slide:nth-child(3n + 2) {
  background: url(../img/top/top-01.png) center center/ cover;
}
.swiper-slide:nth-child(3n + 3) {
  background: url(../img/top/top-02.png) center center/ cover;
}
.swiper-slide-dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.swiper-button-prev:after {
  display: none;
}
.swiper-button-prev {
  height: 48px;
  width: 48px;
  background: url(../img/menu-icon/arrow-left.png) center center/ cover;
  left: -24px;
}
.swiper-button-next:after {
  display: none;
}
.swiper-button-next {
  height: 48px;
  width: 48px;
  background: url(../img/menu-icon/arrow-right.png) center center/ cover;
  right: -24px;
}

.swiper-text {
  position: absolute;
  bottom: 52px;
  left: 60px;
  z-index: 1;
}
/*===========================================================
  # front-page__mv
  ===========================================================*/
.front-page__mv {
  position: relative;
}

// .mv-time{
//   // height: 166px;
//   width: auto;
//   position: absolute;
//   top: 500px;
//   right:100px;
//   z-index: 1;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2)
// }
.mv__schedule {
  position: absolute;
  top: 500px;
  right: 100px;
  height: 166px;
  width: 477px;
  background: url(../img/top/medicalTimeSheet.png) center center/auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mv-news__wrapper {
  padding-top: 21px;
  padding-left: 102px;
  padding-bottom: 35px;
  width: 50vw;
}
.mv-news__container {
  display: flex;
  justify-content: space-between;
}
.mv-news-latest__container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-text;
  border-bottom: 1px solid $color-text;
}
.mv-news__meta {
}
.mv-news__title {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  color: $color-text;
}
.mv-news__label {
  display: inline;
  color: $color-main;
  font-weight: bold;
  margin-left: 16px;
}
.mv-news-list__link {
  display: inline;
  color: #888888;
}
.mv-news-latest__meta {
  time {
    color: $color-text;
  }
}
.mv-news-latest__title {
  display: inline-block;
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 11px;
  color: $color-text;
}
.mv-news-latest__link {
  height: 14px;
  width: 14px;
  background: url(../img/menu-icon/icon-arrow-black.png) center center / cover;
  display: inline;
  margin-top: 13px;
}
/*===========================================================
# to-top
===========================================================*/
.to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 40px;
  z-index: 2;

  @include mq("sp") {
    right: 0;
    bottom: 80px;
    width: 40px;
  }

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  a {
    text-decoration: none;
    img {
      width: 60px;
      @include mq("not_pc") {
        width: 40px;
      }
    }
  }
}

/*===========================================================
# front-page__concept
===========================================================*/
.front-page__concept {
  width: 100vw;
  height: 1000px;
  background: url(../img/top/concept-bg.png) no-repeat 30vw center/ auto;
  display: flex;
}
.concept__left {
  width: 50vw;
  background: url(../img/top/concept-img1.png) no-repeat center center / contain;
}
.concept__right {
  width: calc(#{$layout-width-inner}/ 2);
  margin: auto auto auto 95px;
}
.concept__label {
  font-size: 14px;
  font-weight: bold;
  color: $color-main;
  margin-bottom: 28px;
}
.concept__title {
  font-size: 28px;
  font-weight: bold;
  color: $color-text;
  margin-bottom: 40px;
}
.concept__paragraph {
  font-size: 14px;
  font-weight: normal;
  color: $color-text;
  margin-bottom: 40px;
}

.concept__button {
}
/*===========================================================
# front-page__recommendations
===========================================================*/
.front-page__recommendations {
  margin-bottom: 140px;
  text-align: center;
}
.recommendations__title {
}
.recommendations__container {
  display: flex;
  justify-content: space-between;
}
.recommendation {
  width: 281px;
}

.recommendation__title {
  width: 177px;
  height: 32px;
  text-align: center;
  margin: 0 auto;
}
.recommendation__img {
  width: 281px;
  height: 255px;
  text-align: center;
  margin: 0 auto;
}
.recommendation__paragraph {
  span {
    color: $color-accent;
  }
}

.recommendation-01 {
}
.recommendation-01__title {
  background: url(../img/top/recommend-1.png) no-repeat center/contain;
}
.recommendation-01__img {
  background: url(../img/top/recommend-img-01.png) no-repeat center
    center/contain;
}
.recommendation-01__paragraph {
}
.recommendation-02 {
}
.recommendation-02__title {
  background: url(../img/top/recommend-2.png) no-repeat center center/contain;
}
.recommendation-02__img {
  background: url(../img/top/recommend-img-02.png) no-repeat center
    center/contain;
}
.recommendation-02__paragraph {
}
.recommendation-03 {
}
.recommendation-03__title {
  background: url(../img/top/recommend-3.png) no-repeat center center/contain;
}
.recommendation-03__img {
  background: url(../img/top/recommend-img-03.png) no-repeat center
    center/contain;
}
.recommendation-03__paragraph {
}

/*===========================================================
# front-page__guidance
===========================================================*/
.front-page__guidance {
  text-align: center;
}
.guidance__bg-top {
  width: 100vw;
  height: 20vw;
  background: url(../img/top/bg-top.png) no-repeat center bottom/ contain;
}
.guidance__bg {
  background-color: $color-sub2;
  border: 1px solid $color-sub2;
  box-sizing: border-box;
}
.guidance__main {
}
.guidance__bg-bottom {
  width: 100vw;
  height: 20vw;
  background: url(../img/top/bg-bottom.png) no-repeat center top/ contain;
}
.guidance__container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 61px;
}
.guidance__item {
  width: 460px;
  height: 288px;
  overflow: hidden;
}
.guidance__item--dark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.guidance__title {
  font-size: 28px;
  font-weight: bold;
  color: $color-white;
  margin-top: 90px;
  margin-bottom: 42px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $color-white;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.guidance__subtitle {
  font-size: 16px;
  font-weight: bold;
  color: $color-white;
}
.guidance__paragraph {
  background-color: $color-white;
  padding: 40px;
  margin-bottom: 94px;
  text-align: left;
  color: $color-text;
  position: relative;
  span {
    color: $color-accent;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -94px;
    left: -100px;
    width: 57px;
    height: 57px;
    background: url(../img/top/deco-kirakira-w.png) no-repeat center center/
      contain;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -120px;
    right: -120px;
    width: 125px;
    height: 137px;
    background: url(../img/top/deco-kirakira2-w.png) no-repeat center center/
      contain;
  }
}

.guidance-01 {
  background: url(../img/top/medical_1.png) no-repeat center center/ auto;
}
.guidance-01__title {
}
.guidance-01__subtitle {
}

.guidance-02 {
  background: url(../img/top/medical_2.png) no-repeat center center/ auto;
}
.guidance-02__title {
}
.guidance-02__subtitle {
}

/*===========================================================
# front-page__blogs
===========================================================*/
.front-page__blogs {
  text-align: center;
}
.blogs__title {
}
.blogs__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-item {
  width: 300px;
  height: 321px;
  position: relative;
  margin-bottom: 50px;
}
.blog-item--border-radius {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.blog-item__img {
  width: 100%;
  height: 200px;
  background: #000;
}
.blog-item__label {
  position: absolute;
  overflow: visible;
  top: -20px;
  left: -10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $color-accent;
  color: $color-white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-item__meta {
  text-align: left;
  padding: 20px;
  position: relative;
}
.blog-item__category {
  position: absolute;
  top: -14px;
  left: 24px;
  width: 57px;
  height: 28px;
  background: $color-main;
  color: $color-white;
  border-radius: 14px;
  font-size: 11px;
  padding: 6px 12px;
}
.blog-item__paragraph {
  font-size: 14px;
  color: $color-text;
}
.blog-item__date {
  color: #666;
  font-size: 8px;
}
.blogs-button{
  margin-bottom: 160px;
}